.arrow{
  font-size: 28px;
  cursor: pointer;
  color: lightslategray;
  padding-top: 22px;
  padding-right: 12px;
  padding-left: 12px;
}
.nav {
  width: 100%;
  margin-bottom: 0;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  background: #f2f3f4;
}

.li-items {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.active {
  border-bottom: 3px solid #3fb9ff;
  color: black;
}
.fa-close:before {
    content:"";
} 
li:hover i:after {
  content:"\f00d";

}
::-webkit-scrollbar {
  display: none;
}
.tabs {
  font-family: arial;
  margin: 0 auto;
  text-align: center;
  margin-top: 15vh;
}
button {
  margin-right: 35px;
  font-size: 20px;
  border: none;
  background: transparent;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  border-bottom: 2px solid transparent;
}
.tab-buttons {
  margin-bottom: 50px;
}
.tab-content {
  font-size: 25px;
  font-style: italic;
  margin-top: 13rem;
}